.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 4px 5px 4px #000000;
    width: 328px !important;
}

.card-header {
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: #E8E8E8;
    font-size: 36px;
    height: 105px;
    width: 100%;
    margin: 0 auto;
    color: #0C0C0C
}

.card-item-container {
    min-height: 320px;
    background-color: #ffffff;
    padding: 20px;
    li {
        list-style-type: '- ';
        color: #0C0C0C;
        font-size: 24px;
        line-height: 20px;
        padding-bottom: 10px;
        margin: 0 auto;
    }
}
