html, body, #root, .App {
  height: 100%;
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.component-list {
  align-items: center;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
}
